/*CSS resets*/

* {
    padding: 0%;
    border:0px;
    text-decoration: none;
    /* border: 1px #fff solid; */
    color: #fff;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    

}

body {
    background-color: #141414;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}



/*Inicio Cabeçalho*/
header {
    /* background-color: aqua; */
    align-items: center;
    position: relative;
}

header nav {
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    height: auto;


}



header nav #netflixLogo {
    height: 45px;
    width: 120px;
    margin-left: 2%;
}

/*Lado Esquerdo*/
header nav #ladoEsquerdo {
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    width: 80%;
    
}

header nav #ladoEsquerdo #navegacao {
    display: flex;
    flex-direction: row;
    /* background-color:blueviolet; */
    width: 40%;
    justify-content: space-between;
    
}



header nav #ladoEsquerdo {
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    
}

header nav a{
    color: #e4e4e4ff;
    font-size: 13px;
    
}

header nav a {
    transition: opacity 0.5s ease; /* Suaviza a transição da opacidade */
    opacity: 1; /* Opacidade padrão */
}

header nav a:hover {
    opacity: 0.7; /* Diminui a opacidade ao passar o cursor */
}

/* Lado direito */
header nav #ladoDireito {
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    
}
.iconsNav {
    width: 25px;
    height: 25px;
}


.imagemAvatar {
    width: 8%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

}
.imagemAvatar #avatar {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.imagemAvatar #cetinha {
    height: 50%;
    width: 50%;
    margin: 10px;
}
/*Fim Cabeçalho*/

/*Início container*/
#container {
    width: 100%;
    padding: 3%;
}

#videoPrincipal{
    position: absolute;
    z-index: -1;
    width: 100%;
    
}
#videoPrincipal::after {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(55, 54, 54, 0));
    pointer-events: none;
}

#videoPrincipal video{
    width: 100%;
    height: 100% ;

    object-fit: cover;

}



#textsFilmePrincipal {
    position: relative;
    margin-bottom: 3%;
    width: 35%;
    
}

#textsFilmePrincipal h1 {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
}

#textsFilmePrincipal p{
   width: 100%;
}

#textsFilmePrincipal #botoes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto; 
    gap: 10px; 
    
}

#textsFilmePrincipal #botoes #buttonAssistir {
    display: flex;
    color: black;
    background-color: #FFF;
    width: 40%; 
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; 
    font-size: 14px; 
    gap: 8px; 
}

#textsFilmePrincipal #botoes #buttonAssistir h5 {
    color: black; 
    margin: 0;
}

#textsFilmePrincipal #botoes #maisInformacoes {
    display: flex;
    color: #FFF;
    background-color: #000;
    width: 60%; 
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; 
    font-size: 14px; 
    gap: 8px; 
}

#textsFilmePrincipal #botoes #maisInformacoes h5 {
    color: #FFF;
    margin: 0;
}

#textsFilmePrincipal #botoes img {
    width: 40px; /* Reduz o tamanho do ícone */
    height: 100%;
}


#divTop10 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top10 {
    height: 35px;
    width: 35px;
    margin-right: 2%;
    border-radius: 5px;
}
#cardsFilme {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px; /* Espaçamento entre os cards */
}

.cardsFilme a {
    transition: transform 0.5s ease;
    cursor: pointer;
    display: inline-block; 
}

.cardsFilme a:hover  {
    transform: scale(1.3); /*Aumenta em 30%*/
    transform-origin: center;
}



.imgCapa {
    width:   220px;
    height:   125px;
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card progress {
    width: 50%; /* Ajuste da largura da barra de progresso */
    height: 2.5px; /* Diminui a altura da barra de progresso */
    margin-top: 10px;
    appearance: none; /* Remove o estilo padrão */
}

.card progress::-webkit-progress-bar {
    background-color: #5b5b5b; /* Cor do fundo da barra */

}

.card progress::-webkit-progress-value {
    background-color: red; /* Cor vermelha da barra de progresso */
    
}

.card progress::-moz-progress-bar {
    background-color: red; /* Cor vermelha da barra de progresso para Firefox */
    
}

    
footer {
    box-sizing: border-box;
    margin-top: 2%;

    width: 100%;
    height: auto;
    padding: 2%;
    opacity: 80%;
}

footer #centro {
    width: 60%;
    margin: auto;

}


 #redes .imgsredes {
    margin: 1%;
 }
footer #links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
    margin-left: 0%;
    font-size: 80%;
   
}

footer #links a {
    text-decoration: none;
    transition: text-decoration 0.3s ease
}

footer #links a:hover {
   text-decoration: underline;
}

footer #codServico {
    box-sizing: border-box;
    border: 1px #fff solid;
    padding: 5px;
    overflow: hidden;
    font-size: 80%;
    transition: #fff 0.3s ease;
}

#codServico:hover {
    color: #ff0000;
}
footer p {
    margin-top: 3%;
    font-size: 60%;
}

